$color-primary: #3019B2;;       
$color-secondary: #F7CA11;   
$color-text-title: #3F3F3F;  
$color-text-dark: #3F3F3F;   
$color-text-light: #808080;     
$color-text-green: #3442B5;     
$color-border: #EEEEEE;
$color-bg-card: #FFFFFF;

$font-family: 'Poppins', sans-serif; 
$font-primary: 'Poppins', sans-serif;
$border-radius-card: 10px;
$border-radius-button: 4px;

$screen-mobile: 768px;
$screen-desktop: 1280px;
$breakpoint-desktop: 1280px;


